<div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://i.mycdn.me/getVideoPreview?id=3821495716376&idx=9&type=39&tkn=ZRN70tQ1Rt2EwFMyJYJFFo1gAPI&fn=vid_x" height="50" width="100" alt="" class="plank img-fluid">
        Бархатные тяги
    </a>
    <button type="button" class="btn btn-outline-light button_fact" data-toggle="modal" data-target="#new-card-modal" id="toastbtn">Кнопка!</button>
</div>